#!/bin/bash

# Make sure we have the ruby environment loaded
if [ -f $HOME/{{ profile }} ]; then
  source $HOME/{{ profile }}
fi

cd {{ vmdb_dir }}
rbenv shell {{ ruby_ver }}
rbenv local {{ ruby_ver }}
gem install bundler -v {{ bundler_ver }}
rbenv rehash
bundle install {{ bundle_opts }}
