#!/bin/bash

# Make sure we have the ruby environment loaded
if [ -f $HOME/{{ profile }} ]; then
  source $HOME/{{ profile }}
fi

cd $HOME/{{ rbenv_dir }}/plugins
rbenv gemset create {{ ruby_ver }} {{ gemset }}
cd $HOME/{{ rbenv_dir }}/versions/{{ ruby_ver }}/gemsets/{{ gemset }}
>.rbenv-gemsets <<<{{ gemset }}
cd {{ vmdb_dir }}
>.rbenv-gemsets <<<{{ gemset }}
rbenv gemset active
rbenv rehash
rbenv local {{ ruby_ver }}
rbenv rehash
